/* Declare Variables */
:root {
    --main: #34495E;
    --bg: #ECF0F1;
    --accent: #E74C3C;
    --accent2:#2C3E50;
}


/* Element Selectors */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    /* background: var(--bg); */
    color: var(--main)
}

header {
    background: var(--main);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: var(--bg)
}

h2 {
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;

}

h3{
    font-size: 125%;
    font-weight: bolder;
}

hr {
    width: 100%;
    border: solid 1px var(--main)
}

input, button {
    width: 100%;
    margin: 5px 0;
    height: 30px;
}

p {
    margin: 10px;
}

span {
    color: var(--bg);
    padding: 0 10px;
    border-radius: 5px;
}

/* ID Selectors */


#outer-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-wrapper {
    width: 1200px;
    background: rgb(255, 255, 255);
    border: solid var(--main) 4px;
    border-radius: 10px;
    position: absolute;
}


#container {
    display: flex;
    width: 100%;
    flex-direction: row;
    
}

#city-search {
    width: 20%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background: var(--bg);
    border-right: solid 4px var(--main);
    position: relative;
}

#city-results {
    width: 80%;
    padding: 10px;
    border-radius: 0 0 10px 0;
}

#main-forecast {
    padding: 10px;
    border: 2px solid var(--main);
    border-radius: 10px;
    background-color: var(--bg);
    display: flex;
}

#main-info{
    width: 400%;
}

#main-info h2{
    border-radius: 5px;
    padding: 0 10px; 
}

#future-forecast {
    padding: 5px;
}

#future-forecast h2 {
    padding-bottom: 5px;
    margin-top: 20px;
}

#forecast-row {
    display: flex;
    flex-direction: row;
}

#saved-searches {
    height: 220px;
    overflow-y: auto;
}

#saved-searches button {
    background: var(--bg);
    border: 1px dashed var(--main);
    border-radius: 5px;
    color: var(--main)
}

#saved-searches button:hover {
    border: 1px solid var(--main);
    background: #f1f5f7
}

/* Class Selectors */


.search-input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--main);
    padding: 0 10px;
}

.card-container {
    width: 20%;
    padding: 5px;

}

.inline {
    display: inline;
}

.forecast-card {
    background: var(--bg);
    padding: 10px;
    border: 2px solid var(--main);
    border-radius: 10px;
}

.clear-btn {
    margin: 10px 0 0 0;
}

.uv {
    margin: 0 0 10px 10px;
    display: inline-block
}

.btn {
    background-color: var(--accent);
    color: var(--bg);
    border: 0;
    border-radius: 5px;
    box-shadow: 3px 3px var(--accent2);
}

.btn:hover {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px var(--accent2);
}

.close-btn {
    position: absolute;
    width: 17px;
    right: -10px;
    top: 45%;
}

.widget-btn {
    position: absolute;
    width: 35px;
    height: 20px;
    bottom: -15px;
    left: 49%; 
    border-radius: 8px;
}



